html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", sans-serif, "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    min-width: 1320px;
  }
}
.header {
  background-color: #2b4074;
}
.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-width: 100px;
  }
}
.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 640px) {
  .logo__link {
    margin-left: 0px;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2b4074;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
          box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}
.head {
  background-image: url(../images/bg-slider.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}
.top-slider {
  background: rgba(33, 33, 33, 0.5);
}
.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}
.top-slider__title {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}
.top-slider__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 61px;
  margin: 0 auto;
  background-color: #4a4a4a;
}
.top-slider__btn {
  display: none;
}
.top-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}
.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2b4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-width: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    font-size: 18px;
    background-color: #2b4074;
    color: #f9f6e5;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #2b4074;
  }
  .top-slider .slick-next {
    background-color: #f9f6e5;
  }
}