html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

.header {
  background-color: #2b4074;
}
.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  margin-left: 8px;
}

@media (min-width: 800px) {
  body {
    background-color: #fff;
  }
}
@media (min-width: 1000px) {
  body {
    background-color: #000;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2b4074;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
          box-shadow: 0 4px 0 0 #2b4074, 0 8px 0 0 #2b4074;
}