@import "vars";
@import "fonts";
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  overflow-x: hidden;
}
.container {
  padding: 0 20px;
}
.header {
  background-color: $accent;
  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo__link {
  margin-left: 8px;
}
@media (min-width: 800px) {
  body {
    background-color: #fff;
  }
}
@media (min-width: 1000px) {
  body {
    background-color: #000;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    position: absolute;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}
